<table class="item-wrapper">
  <tr>
    <td class="handle-cell">
      <span class="sortable-handle"></span>
    </td>
    <td class="desc-cell">
      {{#if editorMode}}
        <span class="editor-wrapper">{{project-textarea value=desc cols="40" rows="6"}} </span>
        <button type="button" class="btn btn-project-save" {{action 'saveEditBtnAction'}}>Save</button>
        <button type="button" class="btn btn-link" {{action 'cancelEditBtnAction'}}>Cancel</button>
      {{else}}
        <span class="sortable-list-item-content"> {{desc}} </span>
      {{/if}}
    </td>
    <td class="btn-cell">
      {{icon-button parentItem=this btnType="menuToggleBtn" btnAction='openMenuBtnAction'}}
    </td>
  </tr>
</table>
    
{{#if isMenuVisible}}
  {{#project-popup-menu as |entry| }}
    {{project-menu-entry menuTitle=entry.title menuEntryAction=entry.action options=entry.options}}
  {{/project-popup-menu}}
{{/if}}
